/* ## MODULES ## */
@import "components/_variables";
@import "components/_typography";
@import "components/_carousel.less";
body {
    background: @primary-background;
    font-family: @body-copy;
    font-size: @base-font-size;
    line-height: @base-line-height;
    color: @primary-text;
}
.header .container {
    background: @primary-background;
    padding-left: 0;
    padding-right: 0;
}
.header {
    padding: (@padding * 4) 0;
}
ol,
ul {}
li {}
a,
a:link,
a:visited {}
a:hover {}
p {}
hr {}
/* ## Nav ##*/
.main-nav {
    line-height: 36px; // vertical center with logo
    ul {
        margin-bottom: 0;
    }
    li.divider {
        color: @grey;
    }
}
.main-nav a {
    text-decoration: none;
    &:hover {
        border-bottom: (@border-size * 5) @border-type @grey;
        transition: border-color 0.2s ease;
    }
}
/* ## FOOTER ## */
footer {
    text-align: center;
    color: @inverse-text;
    padding-bottom: (@padding * 4);
    .container {
        background: @inverse-background;
        padding: (@padding * 4) 0;
    }
}
// add padding around social media links
.social-media {
    padding: @padding 0;
}
// space out social media icons and change link color
.social-media a {
    padding: 0 (@padding - 0.5);
    color: @white;
}
// hover link color for social media icons
.social-media a:hover {
    color: @grey;
}
// here - allows image to go right to the edge
.public-banner .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.public-banner img {
    width: 100%;
    height: auto;
}
// add some padding around the about headline
.home-about {
    padding: (@padding * 4) 0 (@padding * 6) 0;
}
// center all items
.home-food {
    text-align: center;
    img {
        padding-bottom: @padding;
    }
}
// add review padding consistent with about
.reviews {
    padding: (@padding * 4) 0 (@padding * 6) 0;
}
.page-body {
    padding: (@padding * 4);
}
.about-social-media {
    margin: (@margin * 2) 0;
    font-size: (@font-size * 2);
}
.page-header {
    padding-bottom: (@padding * 1.5);
    margin: @margin 0;
    border-bottom: (@border-size * 5) @border-type @border-color;
}
.price {
    color: @red1;
    font-weight: 700;
}
