<div class="container">
    <!-- img banner //-->
    <div class="public-banner">
        <div class="row">
            <div class="col-lg-12">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Restaurante&w=1170&h=500" width="1170" height="500" alt="Public Restaurant Banner">
            </div>
        </div>
    </div>
    <!-- about //-->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="large">Buena comida, buena atencion, y buen momento.</h2>
                <div class="about-social-media">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <p>
                    <small>
                      Restaurante El Chipo<br />
                      Lorem ipsum<br />
                      Caracas, DF<br />
                      000.000.1234
                    </small>
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <h3>Nuestra historia</h3>
                <h4>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Doneceu libero sit amet quam egestas semper. Aenean ultricies mi vitae
                    est. Mauris placerat eleifend leo.</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                    mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
                    rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
                    Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </div>
        </div>
    </div>
</div>
<%- partial("partial/_reservation-modal") %>
