<div class="container">
    <div class="public-banner">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31384.2498430316!2d-66.87187882920388!3d10.49820422067288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1461854719450" width="1170" height="500" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="row text-center">
            <div class="col-lg-4">
                <h3>Horario</h3>
                <p>Abierto de lunes a viernes, 12pm - 9pm</p>
            </div>
            <div class="col-lg-4">
                <h3>Ubicacion</h3>
                <p>
                    Lorem ipsum
                    <br /> Caracas, DF
                    <br /> 000-000-0000
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Reserveciones</h3>
                <p>Para reservasiones, por favor llamar al 000-000-0000.</p>
            </div>
        </div>
    </div>
</div>
<%- partial("partial/_reservation-modal") %>
