<div class="public-banner">
    <div class="row">
        <div class="col-lg-12">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Restaurante&w=1170&h=500" width="1170" height="500" alt="Public Restaurant Banner">
        </div>
    </div>
</div>
<!-- About -->
<div class="home-about">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h2>Acerca de Nosotros</h2>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h4>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Food tiles-->
<div class="home-food">
    <div class="row">
        <div class="col-lg-3">
            <a href="menu.html">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Comida&w=250&h=250" height="250" alt="Food Feature">
            </a>
            <h4>Sanduches</h4>
        </div>
        <div class="col-lg-3">
            <a href="menu.html">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Comida&w=250&h=250" height="250" alt="Food Feature">
            </a>
            <h4>Postres</h4>
        </div>
        <div class="col-lg-3">
            <a href="menu.html">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Comida&w=250&h=250" height="250" alt="Food Feature">
            </a>
            <h4>Ensaladas</h4>
        </div>
        <div class="col-lg-3">
            <a href="menu.html">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Comida&w=250&h=250" height="250" alt="Food Feature">
            </a>
            <h4>Cafe</h4>
        </div>
    </div>
</div>
<!-- Carousel -->
<div class="reviews">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h2>Que dicen nuestros clientes</h2>
                <div id="carousel-reviews" class="carousel slide" data- ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-reviews" data-slide- to="0" class="active"></li>
                        <li data-target="#carousel-reviews" data-slide- to="1"></li>
                        <li data-target="#carousel-reviews" data-slide- to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </div>
                        <div class="item">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </div>
                        <div class="item">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <span class="sr-only">Atras</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="fa fa-arrow-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- partial("partial/_reservation-modal") %>
