<div class="container">
    <!-- page body //-->
    <div class="page-body">
        <!-- appetizers //-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Aperitivos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>Pan de ajo</h3>
                <p>Descripcion de deliciosa comida</p>
                <p class="price">00.00</p>
            </div>
            <div class="col-lg-4">
                <h3>Alas de pollo</h3>
                <p>Descripcion de deliciosa comida</p>
                <p class="price">00.00</p>
            </div>
            <div class="col-lg-4">
                <h3>Nachos</h3>
                <p>Descripcion de deliciosa comida, para amigos y grupos</p>
                <p class="price">00.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>Comida</h3>
                <p>Descripcion de deliciosa comida</p>
                <p class="price">00.00</p>
            </div>
            <div class="col-lg-4">
                <h3>Descripcion de deliciosa comida</h3>
                <p>Una saludable ensalada verde <a href="#" data-toggle="modal" data-target="#salad-modal">Ver</a></p>
                <p class="price">00.00</p>
            </div>
            <div class="col-lg-4">
                <h3>Lays &amp; Salsa</h3>
                <p>Descripcion de deliciosa comida</p>
                <p class="price">00.00</p>
            </div>
        </div>
        <!-- sandwiches //-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Sanduches <small>Todos los sanduches se sirven con X o Y</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>Vegetariano</h3>
                <p>tomates, lechuga, queso, salsa. <a href="#" data-toggle="modal" data-target="#sandwich-modal">Ver</a></p>
                <p class="price">000.00</p>
            </div>
            <div class="col-lg-4">
                <h3>Pavo</h3>
                <p>Pavo, lechuga, arandanos, queso, tomate.</p>
                <p class="price">000.00</p>
            </div>
            <div class="col-lg-4">
                <h3>Roast Beef</h3>
                <p>roast beef, mostaza, pepinillos.</p>
                <p class="price">000.00</p>
            </div>
        </div>
        <!-- burgers //-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Hamburguesas <small>Todas las hamburgesas son servidas con X o Y</small></h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Carne</h3>
                    <p>tomates, lechuga, queso, pepinillos.</p>
                    <p class="price">000.00</p>
                </div>
                <div class="col-lg-4">
                    <h3>Pollo</h3>
                    <p>lechuga, pepino, pepinillos.</p>
                    <p class="price">000.00</p>
                </div>
                <div class="col-lg-4">
                    <h3>Vegetariano</h3>
                    <p>lechuga, champiñones, salsa.</p>
                    <p class="price">000.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- partial("partial/_reservation-modal") %>
    <!-- salad modal //-->
    <div class="modal fade" id="salad-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria- hidden="true">&times;</span></button>
                    <h4 class="modal-title">Aperitivos</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Comida&w=400&h=267" width="400" height="267" alt="Salad"></p>
                        <h2>Ensalada Verde</h2>
                        <p>Una saludable ensalada para empezar tu dia.</p>
                        <p class="price">000.00</p>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- sandwich modal //-->
    <div class="modal fade" id="sandwich-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria- hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sanduches</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Comida&w=400&h=274" width="400" height="274" alt="Sandwich"></p>
                        <h2>Sanduche Vegetariano</h2>
                        <p>tomates, lechuga, queso, salsa.</p>
                        <p class="price">000.00</p>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
