h1 {
    font-weight: 900;
    height: 36px;
    margin: 0;
    line-height: 1;
}
h2 {
    font-weight: 900;
}
h3 {
    font-weight: 700;
    color: @red1;
}
h4 {
    line-height: 1.5;
}
.large {
    font-size: (@font-size * 4);
}
