<footer>
    <div class="container">
        <div class="col-lg-12">
            <h1>Restaurante El Chipo</h1>
            <p>Lorem impsum / Caracas, DF / 000.000.1234</p>
            <p>Horario: Abierto 12pm a 9pm, 7 dias a la semana</p>
            <div class="social-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <p>&copy; 2016 El Chipo</p>
        </div>
    </div>
</footer>
