<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1>El Chipo</h1>
            </div>
            <div class="col-lg-9 right">
                <div class="main-nav pull-right">
                    <ul class="list-inline">
                        <li><a href="index.html">Inicio</a></li>
                        <li class="divider">/</li>
                        <li><a href="about.html">Nosotros</a></li>
                        <li class="divider">/</li>
                        <li><a href="menu.html">Menu</a></li>
                        <li class="divider">/</li>
                        <li><a href="contact.html">Contacto</a></li>
                        <!--<li>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#reservation-modal">Reservasiones</button>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
